<a id='top'></a>
# LinkedIn Python 3 Essential Training 


Table of Contents
* [4. General Syntax](#section4)
    * [Try & Except](#section4a)
    * [Conditional Assignment](#section4b)
* [5. Varibale, Objects & Values](#section5)
    * [Using Numbers](#section5a)
    * [Using Strings](#section5b)
    * [Aggregate values with lists and tuples](#section5c)
    * [Creating associative list with dictionaries](#section5d)
    * [Finding an identity of a variable](#section5e)
    * [Specifying logical values with True and False](#section5f)
* [6. Conditionals](#section6)
    * [Altetrnatives to Switch Cases in Python](#section6a)
    * [Example of using Dictionary to make decisions](#section6b)
    * [Conditional Expression](#section6c)
* [7. Loops](#section7)
    * [While Loop](#section7a)
    * [Iterating with For](#section7b)
        * [readlines(), read() and readlin()](#section7b)
    * [Enumerating Iterators](#section7c)
    * [Break, Continue and Else](#section7d)
* [8. Operators](#section8)
    * [Operating on parts of a container with the slice operator](#section8a)
* [9. Regular Expressions](#section9)
    * [Searching](#section9a)
    * [Replacing](#section9b)
    * [re.compile](#section9c)
* [10. Exceptions](#section10)
    * [Raising Exceptions](#section10a)
* [11. Functions](#section11)
    * [Defining functions: Default values & None](#section11a)
    * [Using lists of arguments](#section11b)
    * [Using named function arguments](#section11c)
    * [Creating a sequence with a Generator Function](#section11d)
* [12. Classes](#section12)
    * [Using Methods](#section12a)
    * [Using object Data](#section12b)
    * [Inheritance](#section12c)
    * [Ploymorphism](#section12d)
    * [Using generators](#section12e)
    * [Using decorators](#section12f)
* [13. String Methods](#section13)
    * [Common String Methods](#section13a)
    * [Formatting Strings with str.format](#section13b)
    * [Splitting and Joining Strings](#section13c)
* [14. Containers](#section14)
    * [Operating on sequences with built-in methods](#section14a)
    * [Organizing data in dictionraies](#section14b)
    * [Operating on character data with bytes and byte arrays](#section14c)
* [15. File I/O](#section15)
    * [Reading and writing text files](#section15a)
    * [Reading and writing binary files](#section15b)
* [16. Databases](#section16)
    * [Creating a database with SQLite3](#section16a)
    * [Creating, retrieving, updating, and deleting records](#section16b)
    * [Creating a database object](#section16c)
* [17. Modules](#section17)
* [18. Debugging](#section18)
* [19. Building a Database Application](#section19)

<a id='section4'></a>
# 4. General Syntax
if we don't have a main() function defined we wont be able to run functions that are defined after. See example:

In [4]:
def main():
    print("this is the main func")
    egg()

def egg():
    print('egg')

if __name__ == "__main__": main()

this is the main func
egg

* **If we don't have a main() here is the error we get because we can't call egg() before it's defined**
* ** Using main() function allows us to control the order of the functions we can to call/run on execution **

In [18]:
# del easterEgg
try:
    easterEgg()
except:
    print('ERROR: easterEgg is not defined')

def easterEgg():
    print('egg')

ERROR: easterEgg is not defined

<a id='section4a'></a>
#### Example of Try, Except and If/else (HackerRank Challenge)

In [6]:
import sys

try:
    n = int(input().strip())
except:
    print('not a number try again')
else:
    try:
        arr = [int(arr_temp) for arr_temp in input().strip().split(' ')]
    except:
        print('not a number try again')
    else:
        if n not in range(1,11):
            print(' ')
        else:
            print(sum(arr))

5
12 20 89 88 100
309

### Swapping Values

In [3]:
a, b = 0, 1
a, b = b, a
print(a, b)

1 0

### Assigning Values

In [32]:
## making copy of varibales
val_one = 1200
val_two = val_one
val_one = 90
val_two = 110

print('value one = {} and value two changes to = {}\n'.format(val_one, val_two))
print('memory address for val_one = {} \nmemory address for val_two = {}\n'.format(id(val_one), id(val_two)))

## making a copy of lists the wrong way (same memory address)
list_one = [1,2,3,4,5]
list_two = list_one
list_one.remove(2)

print('first list = {} and second list changes to = {}\n'.format(list_one, list_two))
print('memory address for val_one = {} \nmemory address for val_two = {}'.format(id(list_one), id(list_two)))

value one = 90 and value two changes to = 110

memory address for val_one = 4297151376
memory address for val_two = 4297152016

__main__
first list = [1, 3, 4, 5] and second list changes to = [1, 3, 4, 5]

memory address for val_one = 4369134088
memory address for val_two = 4369134088

<a id='section4b'></a>
### Conditional Assignment

In [38]:
def main():
    a, b = 0, 1
    s = "less than" if a < b else "not less than"
    print(s)

if __name__ == "__main__": main()

less than

In [40]:
print("I am in main()" if __name__ == "__main__" else "not in main")

I am in main()

In [46]:
a, b = 2, 3
c = a + b if a > 0 and b > 0 else 0
print(c)

5

### how objects are created

In [52]:
class Egg:
    def __init__(self, style='fried'):  #initializing 
        self.style = style
    
    def whatKind(self):
        return self.style

def main():
    fried = Egg()
    scrambled = Egg('scrambled')
    print(fried.whatKind())
    print(scrambled.whatKind())

if __name__ == '__main__': main()

fried
scrambled

<a id='section5'></a>

# 5. Varibales, Objects & Values
[Top](#top)

* Everthing in Python is an object
* Every object has an ID, Type and Value
    * ID uniquely identifies a particular instance of an object
    * Cannot change for the life of the object
    * Type identifies the Class of an object which cannot change for the life of the object

In [3]:
x = 49
x

49

In [54]:
id(x)

4297149840

In [55]:
type(x)

int

** All varibales in Python are FIRST CLASS objects **

In [58]:
x = 43 ## we are not changing the value, rather changing the reference 
id(x)

4297149872

In [60]:
x = 42
id(x)

4297149840

** Most fundamental (primitive) types in Python are immutable : **
* numbers, string tupels

** Mutable objects include: **
* lists, dictionaries, other objects depending upon implementation

<a id='section5a'></a>
### Using Numbers
[Top](#top)

In [84]:
def main():
    num = 42
    print('1.',type(num), num)
    num = 42.0
    print('2.',type(num), num)
    num = 42 / 9  # Floating point division
    print('3. floating point division', type(num), num)
    num = 42 // 9 # floor or integer division
    print('4. integer division', type(num), num)
    num = round(42 / 9)
    print('5. rounding',type(num), num)
    num = round(42 / 9, 2)
    print('6. rounding', type(num), num)
    num = 42 % 9
    print('7. Modulo/remainder', type(num), num)
    num = int(42.9)
    print('8. int() func', type(num), num)
    num = float(42)
    print('9. float() func', type(num), num)

if __name__ == "__main__": main()

1. <class 'int'> 42
2. <class 'float'> 42.0
3. floating point division <class 'float'> 4.666666666666667
4. integer division <class 'int'> 4
5. rounding <class 'int'> 5
6. rounding <class 'float'> 4.67
7. Modulo/remainder <class 'int'> 6
8. int() func <class 'int'> 42
9. float() func <class 'float'> 42.0

<a id='section5b'></a>
### Using Strings
[Top](#top)

In [6]:
s = 'this is a\nstring!'
rawString = r'this is a\nstring!' # this is called a raw string
print(s)
print(rawString)

this is a
string!
this is a\nstring!

** Formatting **

In [92]:
n = 42
s = 'this is a {} string'.format(n) #using format method of the string object
print(s)

this is a 42 string

In [94]:
# old way of doing this but will go away
n = 42
s = "this is a %s string" %n
print(s)

this is a 42 string

** Creating a string that spans multiple lines **
* Using ''' ''' or """  """

In [108]:
s = '''
this is a string
line after line
of text and more
text.
'''

print(s)

this is a string
line after line
of text and more
text.

In [110]:
##escaping
s = '''\
this is a string
line after line
of text and more \
text.
'''
print(s)

this is a string
line after line
of text and more text.

<a id='section5c'></a>
### Aggregating values with lists and tuples

In [126]:
x = (1, 2, 3)
print(type(x), x)
try:
    x.append(5)
except:
    print('Sorry, can\'t append Tuples are immutable')

y = [1, 2, 3]
y.append(5)
y.insert(2,4)
print(type(y), y)

a = 'this is a string'
print(type(a), a[10:])

<class 'tuple'> (1, 2, 3)
Sorry, can't append Tuples are immutable
<class 'list'> [1, 2, 4, 3, 5]
<class 'str'> string

<a id='section5d'></a>
### Creating associative list with dictionaries

In [141]:
d = {'one':1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
print(d, end='\n\n')

for k in d:
    print(k,d[k])

# to get it sorted
print('\n')
print('printing the dictionary sorted\n')
for k in sorted(d.keys()):
    print(k,d[k])

{'three': 3, 'one': 1, 'five': 5, 'four': 4, 'two': 2}

three 3
one 1
five 5
four 4
two 2


printing the dictionary sorted

five 5
four 4
one 1
three 3
two 2

** Using the dict() constructor to create a dictionary**

In [146]:
d = dict(
    one = 1,
    two = 2,
    three = 3,
    four = 4,
    five = 5
)
print(d)

{'three': 3, 'one': 1, 'five': 5, 'four': 4, 'two': 2}

In [147]:
d['seven'] = 7
d

{'five': 5, 'four': 4, 'one': 1, 'seven': 7, 'three': 3, 'two': 2}

<a id='section5e'></a>

### Finding the type of identity of a varibale
[Top](#top)

Remember:
** Varibales are references to objects **

In [148]:
x = 42
print(id(x))

4297149840

In [149]:
y = 42
print(id(y))

4297149840

In [150]:
x == y # test for equality - compares VALUES

True

In [152]:
x is y # test if they are the same object - compares IDs

True

In [155]:
x = dict(x = 42)
x

{'x': 42}

In [156]:
id(x)

4369898888

In [158]:
y = dict( x= 42)
id(y)

4369612424

In [159]:
x == y

True

In [161]:
x is y # it's because a dictionary is immutable object

False

In [165]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b) # not the same object
print(a == b) # same value

False
True

<a id='section5f'></a>

### Specifying logical values with True and False
[Top](#top)

In [166]:
a, b = 0, 1
a == b

False

In [167]:
a < b

True

In [168]:
a is b

False

In [170]:
a = True
print(type(a))
print(id(a))

<class 'bool'>
4296767152

In [173]:
b = True
print(id(b))
print(id(True))
print(id(False))

4296767152
4296767152
4296767120

<a id='section6'></a>

# Conditionals

### IF-ELIF-ELSE    
[Top](#top)

In [174]:
v = 'seven'

if v == 'one':
    print('it is ONE')
elif v == 'two':
    print('it is TWO')
elif v == 'three':
    print('it is THREE')
else:
    print('it is something else')

it is something else

<a id='section6a'></a>

### Other strategies for multiple choices
#### Alternatives to Switch or Case options we can use Dictionaries              
[Top](#top)

In [176]:
choices = dict(
one = 'first',
two = 'second',
three = 'third',
four = 'fourth',
five = 'fifth'
)

v = 'three'
print(choices[v])

third

** issues with this approach if we use something outside the list it will generate an error **
Which we can catch with Try and Except

In [177]:
v = 'seven'
try:
    choices[v]
except:
    print('Did not find')

Did not find

** another strategy using Dictionary .get() method **

In [179]:
print(choices.get(v, 'Other')) #get method looks for value, if not found will print 'Other'

Other

#### Another option is using dictionaries in this approach:

{ 'option1' : function1,
  'option2' : function2,
  'option3' : function3,
  'option4' : function4 }[value]()

In [191]:
j = 'b'

result = {
    'a': lambda x: x * 5,
    'b': lambda x: x + 7,
    'c': lambda x: x - 2 
} [j](1)

print(result)

8

** One more example **
we use the .get() which helps us define a default value

In [193]:
def test(x):
    return {
        'a': 1,
        'b': 2,
        'c': 3
    }.get(x, 'nothing')

In [194]:
i = 'b'
test(i)

2

In [195]:
test(9)

'nothing'

In [207]:
choices = dict(
one = lambda x: x - 1,
two = lambda x: x- 2,
three = lambda x: x- 3,
four = lambda x: x- 4,
five = lambda x: x- 5
)

v = 'four'
print(choices.get(v, 'Nothing')(6))

2

<a id='section6b'></a>
#### Example of using Dictionary to make decisions
[Top](#top)

In [240]:
def display(x):
    return x**2

def root(x):
    return x**0.5

even = {
1: lambda x: display(x),
2: lambda x: display(x),
3: lambda x: display(x),
4: lambda x: root(x),
9: lambda x: root(x)
}

num = int(input())

try:
    print(even.get(num, 'Doesn\'t Exist')(num))
except:
    print(num * 1.5)

3
9

<a id='section6c'></a>
### Conditional Expression

In [243]:
a , b = 0, 1
v = "a greater than b" if a > b else "a is less than b"
print(v)

a is less than b

<a id='section7'></a>
# 7. Loops
[Top](#top)

<a id='section7a'></a>
### While Loop

In [249]:
def main():
    # simple fibonacci series
    # the sum of two elements defines the next set
    a, b = 0, 1
    while b < 150:
        print(b, end=' ')
        a, b = b, a + b

if __name__ == "__main__": main()

1 1 2 3 5 8 13 21 34 55 89 144

<a id='section7b'></a>
### Iterating with For
** readlines() and read().split('/n') are equivalent. **
### Difference between Read(), Readlines() and Readline()

#### Readlines( )

In [297]:
# Readlines() - a list of strings for each line. 
# So, Looping will go through each line at
fh = open('./07 Loops/lines.txt')
print(fh.readlines())
fh.close()

['01 This is a line of text\n', '02 This is a line of text\n', '03 This is a line of text\n', '04 This is a line of text\n', '05 This is a line of text\n']

#### Readline( )

In [292]:
# Readline() - reads the first line only
# So, looping will go through the characters from the first line
fh = open('./07 Loops/lines.txt')
print(fh.readline())
fh.close()

01 This is a line of text

#### Read( )

In [298]:
# Read() - reads the entire text 
# So, looping will go through the characters of the entire text
fh = open('./07 Loops/lines.txt')
print(fh.read())
fh.close()

01 This is a line of text
02 This is a line of text
03 This is a line of text
04 This is a line of text
05 This is a line of text

* iterating over with Readlines()
* Readlines() and Print(end="") to avoid double \n

In [316]:
def main():
    fh = open('./07 Loops/lines.txt')
    for line in fh.readlines():
        print(line, end="")
    fh.close()
if __name__ == "__main__": main()

01 This is a line of text
02 This is a line of text
03 This is a line of text
04 This is a line of text
05 This is a line of text

In [148]:
# or can be done using .strip()

def main():
    fh = open('./07 Loops/lines.txt')
    for line in fh.readlines():
        print(line.strip())
    fh.close()
if __name__ == "__main__": main()

01 This is a line of text
02 This is a line of text
03 This is a line of text
04 This is a line of text
05 This is a line of text

* Read() with print(end="") sice it reads characater by character. This way it keeps reading until line ends via '\n'

In [144]:
fh = open('./07 Loops/lines.txt')
for line in fh.read():
    print(line, end="")
fh.close()

01 This is a line of text
02 This is a line of text
03 This is a line of text
04 This is a line of text
05 This is a line of text

* Same as above, but accomplishing similar results with Read() and .Split('/n)

In [301]:
fh = open('./07 Loops/lines.txt')
for line in fh.read().split('/n'):
    print(line)
fh.close()

01 This is a line of text
02 This is a line of text
03 This is a line of text
04 This is a line of text
05 This is a line of text

* Using Readline() and Split("/n").

In [276]:
def main():
    fh = open('./07 Loops/lines.txt')
    for line in fh.readline().split('/n'):
        print(line)
    fh.close()
if __name__ == "__main__": main()

01 This is a line of text

* Using Readline() with Print(end="")

In [313]:
def main():
    fh = open('./07 Loops/lines.txt')
    for line in fh.readline():
        print(line, end="")
    fh.close()
if __name__ == "__main__": main()

01 This is a line of text

### Enumerating Iterators
<a id='section7c'></a>

In [320]:
def main():
    fh = open('./07 Loops/lines.txt')
    for index, line in enumerate(fh.readlines()):
        print(index, line, end="")
    fh.close()
if __name__ == "__main__": main()

0 01 This is a line of text
1 02 This is a line of text
2 03 This is a line of text
3 04 This is a line of text
4 05 This is a line of text

In [321]:
s = 'this is a string'

for i, c in enumerate(s):
    if c == 's': print('index {} is on s'.format(i))

index 3 is on s
index 6 is on s
index 10 is on s

### Controlling loop flow with Break, Continue, and Else
<a id='section7d'></a>

### Continue - to shortcut a for loop

In [325]:
# to skip over letter 's'
s = 'this is a string'
for c in s:
    if c == 's': continue
    print(c, end='')

thi i a tring

### Break

In [327]:
# If I want to stop right at the first enconter of letter 's'
s = 'this is a string'
for c in s:
    if c == 's': break
    print(c, end='')

thi

### Else

In [330]:
# else used when iterators get out of stuff to iterate
s = 'this is a string'
for c in s:
    print(c, end='')
else:
    print(' else')

this is a string else

In [3]:
# else can be used when a condition becomes false
s = 'this is a string'
i = 0
while (i < len(s)):
    print(s[i], end='')
    i += 1
else:
    print(' else done')

this is a string else done

<a id='section8'></a>
# 8. Operators
[Top](#top)

In [10]:
5 // 2

2

In [11]:
5 % 2

1

In [12]:
5 / 2

2.5

In [15]:
divmod(5, 3) # gives the result and remainder as a tuple

(1, 2)

In [22]:
num = 2
num += 1
print(num)

3

In [23]:
num -= 1
print(num)

2

In [24]:
num *=5
print(num)

10

In [25]:
num //=5
print(num)

2

In [26]:
num *=5
num /= 5
print(num)

2.0

### Bitwise values

In [27]:
5

5

In [28]:
0b0101

5

In [31]:
# print out Binary Value
def b(n):
    print('{:08b}'.format(n))

In [32]:
b(5)

00000101

In [33]:
x , y = 0x55, 0xaa

In [38]:
b(x)
b(y)
b(x | y)
b(x & y)
b(x ^ y)
b(x ^ 0)
b(x ^ 0xff)
b( x << 4)
b( x >> 4)
b(~x)

01010101
10101010
11111111
00000000
11111111
01010101
10101010
10101010000
00000101
-1010110

### Comparing identities with IS and IS NOT
There are times when we need to compare Objects by comparing their IDs and not just their values

In [48]:
x, y = 5, 6

In [49]:
x is y

False

In [50]:
x is not y

True

In [51]:
y = 5
x is y

True

In [57]:
x, y = [5], [5]
x is y #not the same IDs

False

In [55]:
print(id(y))
print(id(x))

4370870408
4370898504

In [56]:
x == y #same values

True

In [58]:
a = [1, 2, 3]
b = a #this points to the same object
a is b

True

In [59]:
#making a new copy
b = a[:]
a is b

False

<a id='section8a'></a>
### Operating on parts of container with the slice operator

In [77]:
list = []
list = [0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
s = list[0:5]
s

[0, 1, 2, 3, 4]

In [79]:
for i in range(0,10): print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [91]:
list[:] = range(100)
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [92]:
list[27] #slice of one element

27

In [93]:
list[27:42] #slice with start and end

[27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]

In [94]:
list[27:42:3] #slice with start and end for every third element

[27, 30, 33, 36, 39]

In [99]:
for i in list[27:43:3]: print(i)

27
30
33
36
39
42

In [116]:
list[27:43:3] = [99,99,99,99,99,99]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 99, 28, 29, 99, 31, 32, 99, 34, 35, 99, 37, 38, 99, 40, 41, 99, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

<a id='section9'></a>
# 9. Regular Expressions
[Top](#top)

### Searching with Regular Expressions
<a id='section9a'></a>

In [118]:
import re

def main():
    fh = open('./09 Regexes/raven.txt')
    for i, line in enumerate(fh.readlines()):
        if re.search('(Len|Neverm)ore', line): #matches Lenore or Nevermore
            print(i, line, end='')

if __name__ == "__main__": main()

10 From my books surcease of sorrow - sorrow for the lost Lenore -
11 For the rare and radiant maiden whom the angels named Lenore -
31 And the only word there spoken was the whispered word, "Lenore!"
32 This I whispered, and an echo murmured back the word, "Lenore!"
54 Quoth the raven, "Nevermore."
61 With such name as "Nevermore."
68 Then the bird said, "Nevermore."
82 Meant in croaking "Nevermore."
94 Respite - respite and nepenthe from thy memories of Lenore!
95 Quaff, oh quaff this kind nepenthe, and forget this lost Lenore!"
96 Quoth the raven, "Nevermore."
103 Quoth the raven, "Nevermore."
108 It shall clasp a sainted maiden whom the angels named Lenore -
109 Clasp a rare and radiant maiden, whom the angels named Lenore?"
110 Quoth the raven, "Nevermore."
117 Quoth the raven, "Nevermore."

In [124]:
import re

def main():
    fh = open('./09 Regexes/raven.txt')
    for i, line in enumerate(fh.readlines()):
        match = re.search('(Len|Neverm)ore', line)
        if match: #matches Lenore or Nevermore
            print(i, match.group())

if __name__ == "__main__": main()

10 Lenore
11 Lenore
31 Lenore
32 Lenore
54 Nevermore
61 Nevermore
68 Nevermore
82 Nevermore
94 Lenore
95 Lenore
96 Nevermore
103 Nevermore
108 Lenore
109 Lenore
110 Nevermore
117 Nevermore

### Replacing with Regular Expressions
<a id='section9b'></a>

In [129]:
import re

def main():
    fh = open('./09 Regexes/raven.txt')
    for i, line in enumerate(fh.readlines()):
         match = re.search('(Len|Neverm)ore', line) #matches Lenore or Nevermore
         if match:
            print(i, line.replace(match.group(), '###'), end='')
if __name__ == "__main__": main()

10 From my books surcease of sorrow - sorrow for the lost ### -
11 For the rare and radiant maiden whom the angels named ### -
31 And the only word there spoken was the whispered word, "###!"
32 This I whispered, and an echo murmured back the word, "###!"
54 Quoth the raven, "###."
61 With such name as "###."
68 Then the bird said, "###."
82 Meant in croaking "###."
94 Respite - respite and nepenthe from thy memories of ###!
95 Quaff, oh quaff this kind nepenthe, and forget this lost ###!"
96 Quoth the raven, "###."
103 Quoth the raven, "###."
108 It shall clasp a sainted maiden whom the angels named ### -
109 Clasp a rare and radiant maiden, whom the angels named ###?"
110 Quoth the raven, "###."
117 Quoth the raven, "###."

### Resusing Regular Expressions with re.compile
<a id='section9c'></a>

In [139]:
import re

def main():
    fh = open('./09 Regexes/raven.txt')
    pattern = re.compile('(Len|Neverm)ore', re.IGNORECASE) # more efficient since we compile the pattern only once
    for i, line in enumerate(fh.readlines()):
        if re.search(pattern, line): #matches Lenore or Nevermore
            print(i, line, end='')

if __name__ == "__main__": main()

10 From my books surcease of sorrow - sorrow for the lost Lenore -
11 For the rare and radiant maiden whom the angels named Lenore -
31 And the only word there spoken was the whispered word, "Lenore!"
32 This I whispered, and an echo murmured back the word, "Lenore!"
54 Quoth the raven, "Nevermore."
61 With such name as "Nevermore."
68 Then the bird said, "Nevermore."
75 Of 'Never-nevermore.'"
82 Meant in croaking "Nevermore."
89 She shall press, ah, nevermore!
94 Respite - respite and nepenthe from thy memories of Lenore!
95 Quaff, oh quaff this kind nepenthe, and forget this lost Lenore!"
96 Quoth the raven, "Nevermore."
103 Quoth the raven, "Nevermore."
108 It shall clasp a sainted maiden whom the angels named Lenore -
109 Clasp a rare and radiant maiden, whom the angels named Lenore?"
110 Quoth the raven, "Nevermore."
117 Quoth the raven, "Nevermore."
124 Shall be lifted - nevermore!

In [140]:
import re

def main():
    fh = open('./09 Regexes/raven.txt')
    pattern = re.compile('(Len|Neverm)ore', re.IGNORECASE) # more efficient since we compile the pattern only once
    for i, line in enumerate(fh.readlines()):
        if re.search(pattern, line): #matches Lenore or Nevermore
            print(i, pattern.sub('###',line), end='')

if __name__ == "__main__": main()

10 From my books surcease of sorrow - sorrow for the lost ### -
11 For the rare and radiant maiden whom the angels named ### -
31 And the only word there spoken was the whispered word, "###!"
32 This I whispered, and an echo murmured back the word, "###!"
54 Quoth the raven, "###."
61 With such name as "###."
68 Then the bird said, "###."
75 Of 'Never-###.'"
82 Meant in croaking "###."
89 She shall press, ah, ###!
94 Respite - respite and nepenthe from thy memories of ###!
95 Quaff, oh quaff this kind nepenthe, and forget this lost ###!"
96 Quoth the raven, "###."
103 Quoth the raven, "###."
108 It shall clasp a sainted maiden whom the angels named ### -
109 Clasp a rare and radiant maiden, whom the angels named ###?"
110 Quoth the raven, "###."
117 Quoth the raven, "###."
124 Shall be lifted - ###!

<a id='section10'></a>
# 10. Exceptions
[Top](#top)

### Handling Excpetions

In [160]:
def main():
    try:
        fh = open('./10 Exceptions/lins.txt')
    except IOError as e:
        print('could not open the file. come back tomorrow: ', e)
    else:
        for line in fh: print(line.strip()) # removes trailing lines

if __name__ == "__main__": main()

could not open the file. come back tomorrow:  [Errno 2] No such file or directory: './10 Exceptions/lins.txt'

### Raising Exceptions
<a id='section10a'></a>

In [170]:
def main():
    try:
        for line in readfile('./10 Exceptions/lies.doc'): 
            print(line.strip()) # removes trailing lines
    except IOError as e:
        print('cannot read file: ', e)
    except ValueError as e:
        print('bad filename: ', e)
        

def readfile(filename):
    if filename.endswith('.txt'):
        fh = open(filename)
        return fh.readlines()
    else: 
        raise ValueError('Filename must end with .txt')

if __name__ == "__main__": main()

bad filename:  Filename must end with .txt

<a id='section11'></a>
# 11. Functions
[Top](#top)

<a id='section11a'></a>
### Defining functions with arguments: Default values & None

In [172]:
def main():
    testfunc()

def testfunc():
    print('This is a test function')

if __name__ == "__main__": main()

This is a test function

In [176]:
def main():
    testfunc()

def testfunc():
    pass #to avoid an error, can be used as a placeholder

if __name__ == "__main__": main()

#### Using Paremeters & default values
* Parameters can be required or optionals
* Function arguments must be initialized
* To avoid errors, we can use defaut values

In [182]:
def main():
    testfunc(42, 1)

def testfunc(number = 1, another = 42, onemore= 75):
    print('This is a test function',number, another, onemore )

if __name__ == "__main__": main()

This is a test function 42 1 75

#### Making the parameter options using None
None is a special value that we can also test for

In [187]:
def main():
    testfunc(42, 1)
def testfunc(number = 1, another = None, onemore= 75):
    if another is None:
        another = 112
    print('This is a test function',number, another, onemore )

if __name__ == "__main__": main()

This is a test function 42 1 75

<a id='section11b'></a>
### Using lists of arguments
We get a Tuple

In [197]:
def main():
    testfunc(1, 2, 3, 4)

def testfunc(*args):
    print('This is a tuple')
    for n in args: print(n, end= ' ')

if __name__ == "__main__": main()

This is a tuple
1 2 3 4

In [204]:
def main():
    testfunc(1, 2, 3, 4)

def testfunc(number, another, *args):
    print('Your arguemnts: ', number, another, args)

if __name__ == "__main__": main()

Your arguemnts:  1 2 (3, 4)

<a id='section11c'></a>
### Using named function arguments
using (**kwargs) = stands for Keyboard Arguments

In [10]:
def main():
    testfunc(one = 1, two = 2, four = 42)

def testfunc(**kwargs):
    print('This is a test function', kwargs['one'], kwargs['two'], kwargs['four'])

if __name__ == "__main__": main()

This is a test function 1 2 42

#### Combination of different argument types:

In [206]:
def main():
    testfunc(5, 6, 7, 8, 9, 10, one = 1, two = 2, four = 42)

def testfunc(this, that ,other, *args, **kwargs):
    print('This is a test function', 
          this, that, other, args,
          kwargs['one'], kwargs['two'], kwargs['four'])

if __name__ == "__main__": main()

This is a test function 5 6 7 (8, 9, 10) 1 2 42

In [210]:
def main():
    testfunc(5, 6, 7, 8, 9, 10, one = 1, two = 2, four = 42)

def testfunc(this, that ,other, *args, **kwargs):
    for k in kwargs: print(k, kwargs[k]) #wont maintain order
    for n in args: print(n) #tuples do maintain order

if __name__ == "__main__": main()

four 42
one 1
two 2
8
9
10

#### Returning values from functions

In [215]:
def main():
    for n in testfunc(): print(n, end= ' ')

def testfunc():
    return range(25)

if __name__ == '__main__': main()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

<a id='section11d'></a>
### Generator Function

In [238]:
def main():
    print("This is the functions.py file.")
    for i in inclusive_range(2,25,3):
        print(i, end = ' ')

def inclusive_range(*args):
    numargs = len(args)
    if numargs < 1: raise TypeError('requires at least one argument')
    elif numargs == 1: 
        stop = args[0]
        start = 0
        step = 1
    elif numargs == 2:
        (start, stop) = args
        step = 1
    elif numargs == 3:
        (start, stop, step) = args
    else: 
        raise TypeError('inclusive_range expected at most 3 arguments, got {}'.format(numargs))
    
    i = start
    try:
        while i <= stop:
            yield i # next time it run it will resume
            i += step
    except TypeError as e:
        print(e)
    
if __name__ == "__main__": main()

This is the functions.py file.
2 5 8 11 14 17 20 23

<a id='section12'></a>
# 12. Classes
[Top](#top)
* Classes are how we create our own objects
* A class is the blueprint for an object
* An object is an instance of a class

In [14]:
class Duck:
    def quack(self):
        print('Quaaack!')

    def walk(self):
        print('Walks like a duck.')

def main():
    donald = Duck() #donals is an objet which is an instance of class Duck
    donald.quack()
    donald.walk()

if __name__ == "__main__": main()

Quaaack!
Walks like a duck.

### Using Methods
<a id='section12a'></a>
* methods are functions
* first argument is always (self) which is a refernce to the object
* **constructor method \__init__**
    * constructors are great for initializing values

In [31]:
class Duck:
    def __init__(self, value):
        print('I am a Constructor')
        self._v = value #creating a local variable that is an attribute of the object i.e. donald
        
    def quack(self, value):
        print('Quaaack!', self._v, value) #now we can use the local varibale

    def walk(self):
        print('Walks like a duck.', self._v)

def main():
    donald = Duck(47) 
    donald.quack(12) #donald is being passed as self
    donald.walk()
    frank = Duck(100)
    frank.quack(10)
    frank.walk()
    

if __name__ == "__main__": main()

I am a Constructor
Quaaack! 47 12
Walks like a duck. 47
I am a Constructor
Quaaack! 100 10
Walks like a duck. 100

### Using Object Data
<a id='section12b'></a>
* It is recommended to access local varibales in a class using accessor methods 
    * Set and Get methods as an example

In [35]:
class Duck:
    def __init__(self, color = 'white'):
        self._color = color # using _ is to help us remember that this is a local variable
        
        
    def quack(self):
        print('Quaaack!')

    def walk(self):
        print('Walks like a duck.')
        
    def set_color(self, color): 
        self._color = color
     
    def get_color(self):
        return self._color

def main():
    donald = Duck() #donals is an objet which is an instance of class Duck
    print(donald.get_color())
    donald.set_color('blue')
    print(donald.get_color())

if __name__ == "__main__": main()

white
blue

** If there are many setters that we need to use and call it can get overwhilming. Another option is to use Dictionary (keyword arguments) **

In [59]:
class Duck:
    def __init__(self, **kwargs):
        self._color = kwargs.get('color','white') #having a default value         
        self._feet = kwargs.get('feet')
        
    def quack(self):
        print('Quaaack!')

    def walk(self):
        print('Walks like a duck.')
        
    def set_color(self, color): 
        self._color = color
     
    def get_color(self):
        return self._color
    
    def get_feet(self):
        return self._feet

def main():
    donald = Duck(color='blue')
    james = Duck()
    print(donald.get_color())
    print(james.get_color())
    smith = Duck(feet=2)
    print(smith.get_feet())
    

if __name__ == "__main__": main()

blue
white
2

## Dictionary .get() built in function and defaults

In [69]:
j = {'color': 'blue', 'feet': 4}
print(j.get('color', 'black'))

s = {'feet': 4}
print(s.get('color', 'black'))

blue
black

** instead of having differernt local varibales we can use a dictionary **

In [62]:
class Duck:
    def __init__(self, **kwargs):
        self.varibales = kwargs
        
    def quack(self):
        print('Quaaack!')

    def walk(self):
        print('Walks like a duck.')
        
    def set_color(self, color): 
        self.varibales['color'] = color
    
    def set_feet(self, feet):
        self.varibales['feet'] = feet
     
    def get_color(self):
        return self.varibales.get('color', None)
    
    def get_feet(self):
        return self.varibales.get('feet', 4)

def main():
    donald = Duck(color='blue')
    james = Duck()
    print(donald.get_color())
    print(james.get_color())
    smith = Duck()
    print(smith.get_feet())
    

if __name__ == "__main__": main()

blue
None
4

** Make the setters scale as well we can make another modification **

Storing Object data in a Dictionay - the code below is scalable and flexible

In [85]:
class Duck:
    def __init__(self, **kwargs):
        self.varibales = kwargs
        
    def quack(self):
        print('Quaaack!')

    def walk(self):
        print('Walks like a duck.')
        
    def set_variables(self, k, v):
        self.varibales[k] = v
    
    def get_varibales(self, k):
        return self.varibales.get(k, None)

def main():
    donald = Duck(feet = 2)
    donald.set_variables('color','pink')
    print(donald.get_varibales('feet'))
    print(donald.get_varibales('color'))

    
if __name__ == "__main__": main()

2
pink

### Understanding Inheritance
<a id='section12c'></a>

In [91]:
class Animal:
    def talk(self): print('I have something to say')
    def walk(self): print('Hey, I''m walking'' here!')
    def clothes(self): print('I have nice clothes')    

class Duck(Animal): #now Duck inherits all properties of animal
    def quack(self):
        print('Quaaack!')

    def walk(self):
        #if we want to access the paretn method we use super()
        super().walk()
        print('Walks like a duck.')

def main():
    donald = Duck()
    donald.quack()
    donald.walk() #the Duck walk overwrties the parent, to access both we used super()
    donald.clothes() #from parent
    donald.talk() # from parent

if __name__ == "__main__": main()

Quaaack!
Hey, Im walking here!
Walks like a duck.
I have nice clothes
I have something to say

In [96]:
class Dog(Animal):
    def clothes(self): print('I have brown and white fur')

fido = Dog()
fido.clothes()
fido.talk()

I have brown and white fur
I have something to say

### Applying polymorphism to classes
<a id='section12d'></a>

In [106]:
class Duck:
    def quack(self):
        print('Quaaack!')

    def walk(self):
        print('Walks like a duck.')
    
    def bark(self):
        print('Duck cannot bark')
    
    def fur(self):
        print('The duck has feathers')


donald = Duck()
donald.quack()
donald.walk()

Quaaack!
Walks like a duck.

In [107]:
class Dog:
    def bark(self):
        print('Woof!')
        
    def fur(self): 
        print('the dog has brown and white fur')
    
    def walk(self):
        print('Walks like a dog')
    
    def quack(self):
        print('The dog cannot quack')
        
fido = Dog()
fido.bark()
fido.fur()

Woof!
the dog has brown and white fur

#### By making both classes have common methods we now can

In [109]:
for o in (donald, fido):
    o.quack()
    o.walk()
    o.bark()
    o.fur()

Quaaack!
Walks like a duck.
Duck cannot bark
The duck has feathers
The dog cannot quack
Walks like a dog
Woof!
the dog has brown and white fur
Duck cannot bark
The duck has feathers
The dog cannot quack
Walks like a dog

#### Polymorphism

In [113]:
def in_the_forest(dog):
    dog.bark()
    dog.fur()

def in_the_pond(duck):
    duck.quack()
    duck.walk()
    
in_the_forest(donald)
in_the_pond(fido)

Duck cannot bark
The duck has feathers
The dog cannot quack
Walks like a dog

### Using generators \__iter__
<a id='section12e'></a>

An object that can be used in the context of itterable

In [114]:
def main():
    o = range(25)
    for i in o: print(i, end = ' ')

if __name__ == "__main__": main()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [130]:
class inclusive_range:
    def __init__(self, *args):
        numargs = len(args)
        if numargs < 1: raise TypeError('requires at least one argument')
        elif numargs == 1:
            self.stop = args[0]
            self.start = 0
            self.step = 1
        elif numargs == 2:
            (self.start, self.stop) = args
            self.step =1 
        elif numargs == 3:
            (self.start, self.stop, self.step) = args
        else: raise TypeError('expected at most 3 arguments, got {}'.format(numargs))

    
    def __iter__(self): #makes the object an iterable object
        i = self.start
        while i <= self.stop:
            yield i
            i += self.step

In [133]:
for i in inclusive_range(5, 25, 5): print(i, end = ' ')

5 10 15 20 25

### Using decorators : Special functions that return other functions
<a id='section12f'></a>

In [165]:
class Duck:
    def __init__(self, **kwargs):
        self.properties = kwargs

    def quack(self):
        print('Quaaack!')

    def walk(self):
        print('Walks like a duck.')

    def get_properties(self):
        return self.properties
    
    def set_property(self, key, value):
        print(key, value)
        self.properties[key] = value

    def get_property(self, key):
        return self.properties.get(key, None)

donald = Duck(color = 'blue')
print(donald.get_property('color'))

blue

In [166]:
donald.set_property('feet', 2)
print(donald.get_property('feet'))

feet 2
2

#### Using @property to stat declaring .setter and .deleter

In [169]:
class Duck:
    def __init__(self, **kwargs):
        self.properties = kwargs

    def quack(self):
        print('Quaaack!')

    def walk(self):
        print('Walks like a duck.')

    def get_properties(self):
        return self.properties
    
    def set_property(self, key, value):
        print(key, value)
        self.properties[key] = value

    def get_property(self, key):
        return self.properties.get(key, None)

    @property #turns this function as an accessor
    def color(self):
        return self.properties.get('color', None)
    
    @color.setter #declare a setter
    def color(self, c):
        self.properties['color'] = c
    
    @color.deleter
    def color(self):
        del self.properties['color']

donald = Duck()
donald.color = 'blue'
print(donald.color)

blue

<a id='section13'></a>
# 13. String Methods
[Top](#top)

### Strings are objets
We can operate on a string like objects without using varibale assignment

In [2]:
'This is a string'.upper()

'THIS IS A STRING'

In [3]:
'this is a string'.title()

'This Is A String'

In [4]:
'this is a string {}'.format(42)

'this is a string 42'

<a id='section13a'></a>
### Common string methods
#### Example: upper(), lower(), strip(), rstrip(), replace(), isalnum(), title(), isalpha(), isprintable(), isdigit(), capitalize(), format(), swapcase(), find()

In [5]:
s = 'this is a string'

In [6]:
s.capitalize()

'This is a string'

In [7]:
s.upper()

'THIS IS A STRING'

In [8]:
'This Is A String'.swapcase()

'tHIS iS a sTRING'

In [9]:
s.find('is') #finds the position

2

In [11]:
s.replace('this', 'that')

'that is a string'

### String is immutable , so there methods return a new string while original is unchanged

In [13]:
s #still the same

'this is a string'

In [14]:
id(s)

4368522024

In [15]:
newstring = s.upper()
id(newstring) # new id

4368522888

In [16]:
i = s
id(i) #same id

4368522024

In [17]:
'  this is a string   '.strip() #remove whitespace by default

'this is a string'

In [18]:
'    this is a string  '.rstrip() #remove white space in end

'    this is a string'

In [22]:
s1 = 'this is a string\n'
s1

'this is a string\n'

In [23]:
s1.strip() #remove the new line \n

'this is a string'

In [25]:
s1.rstrip('\n') #same effect

'this is a string'

In [26]:
s.isalnum() #returns False since the string contains spaces

False

In [27]:
'thisisastring'.isalnum()

True

In [31]:
'thisisstring'.isalpha()

True

In [32]:
'1234'.isdigit()

True

In [33]:
s.isdigit()

False

In [34]:
s.isprintable()

True

<a id='section13b'></a>
### Formatting strings with str.format
Remember: Strings are immutable in Python so changes mean a new string is created

In [35]:
a, b = 5, 42
print(a, b)

5 42

In [36]:
'this is {}, that is {}'.format(a, b)

'this is 5, that is 42'

In [37]:
s = 'this is {}, that is {}'
id(s)

4368620256

In [39]:
new = s.format(a, b)
id(new)

4369101280

In [41]:
j = s
id(j)

4368620256

#### Changing positional order

In [42]:
'this is {}, that is {}'.format(b, a) #change the varibale orders

'this is 42, that is 5'

In [43]:
'this is {0}, that is {1}'.format(a, b)

'this is 5, that is 42'

In [44]:
'this is {1}, that is {0}'.format(a, b)

'this is 42, that is 5'

In [46]:
'this is {1}, that is {1}'.format(a, b)

'this is 42, that is 42'

In [47]:
'this is {bob}, that is {fred}'.format(bob = a, fred = b)

'this is 5, that is 42'

In [48]:
d = dict(bob = a, fred = b)
'this is {bob}, that is {fred}'.format(**d)

'this is 5, that is 42'

<a id='section13c'></a>
### Splitting and Joining Strings

In [49]:
s = 'This is a string of words'

In [51]:
s.split() #splits by whitespace by default

['This', 'is', 'a', 'string', 'of', 'words']

In [53]:
s.split('i') #split on i

['Th', 's ', 's a str', 'ng of words']

In [57]:
words = s.split()
for w in words: print(w)

This
is
a
string
of
words

In [59]:
new = ':'.join(words)
new

'This:is:a:string:of:words'

In [60]:
','.join(words)

'This,is,a,string,of,words'

In [61]:
' '.join(words)

'This is a string of words'

### Finding and using string methods
Python documentation

In [65]:
s = 'this is a string'
new = s.center(80) #80 characters
new

'                                this is a string                                '

In [66]:
len(new)

80

<a id='section14'></a>
# 14. Containers
[Top](#top)

** Tuples can be created using the comma operator like this **

In [70]:
t = 1,2,3,4,5
t

(1, 2, 3, 4, 5)

** How to create a tuple with ONE element? **

In [71]:
t = (1) # this is not correct, it will produce an Int
print(t)
print(type(t))

1
<class 'int'>

In [72]:
t = 1,
print(t)
print(type(t))

(1,)
<class 'tuple'>

In [73]:
t = tuple(range(25))
print(t)
print(type(t))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24)
<class 'tuple'>

In [74]:
x = []
type(x)

list

In [77]:
x = list(range(25))
print(x)
print(type(x))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
<class 'list'>

<a id='section14a'></a>
### Operating on sequences with built-in methods

In [79]:
t = tuple(range(25))
print(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24)

In [80]:
10 in t

True

In [82]:
50 in t

False

In [83]:
50 not in t

True

In [84]:
x = list(range(20))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [85]:
10 in x

True

In [86]:
20 in x

False

In [88]:
t.count(4)

1

In [89]:
t.index(6)

6

In [90]:
x.append(100)

In [91]:
x.extend(range(20))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 100, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [92]:
x.insert(0, 25)
print(x)

[25, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 100, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [93]:
x.remove(12)

In [95]:
print(x)

[25, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 100, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [96]:
del x[12]
print(x)

[25, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 100, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [97]:
x.pop()

19

In [100]:
print(x)

[25, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 100, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [101]:
x.pop(0)

25

In [103]:
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 100, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

<a id='section14b'></a>
### Organizing data with dictionaries

In [104]:
d = {'one': 1, 'two': 2, 'three': 3}
d

{'one': 1, 'three': 3, 'two': 2}

In [105]:
d = dict(one = 1, two = 2, three = 3)
d

{'one': 1, 'three': 3, 'two': 2}

In [107]:
x = dict(four = 4, five = 5, six = 6)
s = dict(**x, **d)
print(s)

{'one': 1, 'five': 5, 'four': 4, 'three': 3, 'two': 2, 'six': 6}

In [108]:
'four' in s

True

In [110]:
'four' in d

False

In [111]:
for k,v in s.items(): print(k,v)

one 1
five 5
four 4
three 3
two 2
six 6

** Getting exception and using .get to avoid **

In [112]:
x['three']

KeyError: 'three'

In [113]:
x.get('three')

In [114]:
x.get('three', 'not found')

'not found'

In [115]:
del x['four']
print(x)

{'five': 5, 'six': 6}

In [116]:
x.pop('five')

5

In [117]:
x

{'six': 6}

In [134]:
def printMe():
    print('hello world')

f = dict(one = printMe, two = printMe)

In [138]:
for k in f.values() : print(k)

<function printMe at 0x104848f28>
<function printMe at 0x104848f28>

In [139]:
for k in f.values() : print(k())

hello world
None
hello world
None

<a id='section14c'></a>
### Operating on character data with bytes and byte arrays

In [143]:
def main():
    fin = open('./14 Containers/utf8.txt','r', encoding='utf_8')
    fout = open('utf8.html', 'w')
    outbytes = bytearray()
    for line in fin:
        for c in line:
            if ord(c) > 127:
                outbytes += bytes('&#{:04d};'.format(ord(c)), encoding = 'utf_8')
            else:
                outbytes.append(ord(c))
    outstr = str(outbytes, encoding = 'utf_8')
    print(outstr, file = fout)
    print(outstr)
    print('Done.')

if __name__ == "__main__": main()

This is a UTF-8 file.
It has some interesting characters in it.
&#1641;(&#0865;&#3663;&#0815;&#0865;&#3663;)&#1782;

Done.

<a id='section15'></a>
# 15. File I/O
[Top](#top)

## Opening Files

In [146]:
def main():
    f = open('./15 Files/lines.txt') # read mode is the default r
    for line in f:
        print(line, end = '')

if __name__ == "__main__": main()

01 This is a line of text
02 This is a line of text
03 This is a line of text
04 This is a line of text
05 This is a line of text

In [147]:
def main():
    f = open('./15 Files/lines.txt', 'r') 
    for line in f.readlines():
        print(line, end = '')

if __name__ == "__main__": main()

01 This is a line of text
02 This is a line of text
03 This is a line of text
04 This is a line of text
05 This is a line of text

<a id='section15a'></a>
## Reading and Writing Text files

In [148]:
def main():
    infile = open('./15 Files/lines.txt') # read mode is the default r
    outfile = open('./15 Files/new.txt', 'w')
    for line in infile:
        print(line, file = outfile, end = '')
    print('Done.')

if __name__ == "__main__": main()

Done.

** Working with big files ** 
Reading in buffer bytes, for examples infile.read(50000) means read
at most 50000 bytes from infile, then read the next 50000 bytes. This
way we are reading in chunks instead of one line at a time.

**file.read([size])**

Read at most size bytes from the file (less if the read hits EOF before obtaining size bytes). If the size argument is negative or omitted, read all data until EOF is reached. The bytes are returned as a string object. An empty string is returned when EOF is encountered immediately. (For certain files, like ttys, it makes sense to continue reading after an EOF is hit.) Note that this method may call the underlying C function fread() more than once in an effort to acquire as close to size bytes as possible. Also note that when in non-blocking mode, less data than was requested may be returned, even if no size parameter was given.

** buffer is not the file but what you last read from the file. len(buffer) will evaluate to False when buffer is empty, i.e. when there's no more data to read from the file. **

In [149]:
def main():
    buffersize = 50000
    infile = open('./15 Files/bigfile.txt', 'r') 
    outfile = open('./15 Files/newbigfile.txt', 'w')
    buffer = infile.read(buffersize) #
    
    while len(buffer):
        outfile.write(buffer)
        print('.', end = '')
        buffer = infile.read(buffersize)
    print()
    print('Done.')

if __name__ == "__main__": main()

.......
Done.

<a id='section15b'></a>
## Reading and writing binary files 
There is a difference when working with Text files vs working with Binary files

In [152]:
def main():
    buffersize = 50000
    infile = open('./15 Files/olives.jpg', 'rb')  #open in read binary mode
    outfile = open('./15 Files/new.jpg', 'wb')
    buffer = infile.read(buffersize)
                        
    while len(buffer):
        outfile.write(buffer)
        print('.', end = '')
        buffer = infile.read(buffersize)
    print()
    print('Done.')
    
if __name__ == "__main__": main()

...
Done.

<a id='section16'></a>
# 16. Databases
[Top](#top)

<a id='section16a'></a>
### Creating a database with SQLite 3

In [26]:
import sqlite3

def main():
    db = sqlite3.connect('./16 Databases/test.db')
    db.execute('drop table if exists test')
    db.execute('create table test (t1 text, i1 int)')
    db.execute('insert into test (t1, i1) values (?,?)', ('one', 1))
    db.execute('insert into test (t1, i1) values (?,?)', ('two', 2))
    db.execute('insert into test (t1, i1) values (?,?)', ('three', 3))
    db.execute('insert into test (t1, i1) values (?,?)', ('four', 4))
    db.commit()
    cursor = db.execute('select i1, t1 from test order by i1')
    
    for row in cursor:
        print(row)  #data comes back in tuples
    
if __name__ == "__main__": main()

(1, 'one')
(2, 'two')
(3, 'three')
(4, 'four')

** row is an interable in the example below because we used row_factory to create a row object. We can convert it into a Dictionary **

In [29]:
import sqlite3

def main():
    db = sqlite3.connect('./16 Databases/test.db')
    db.row_factory = sqlite3.Row #created row objects
    db.execute('drop table if exists test')
    db.execute('create table test (t1 text, i1 int)')
    db.execute('insert into test (t1, i1) values (?,?)', ('one', 1))
    db.execute('insert into test (t1, i1) values (?,?)', ('two', 2))
    db.execute('insert into test (t1, i1) values (?,?)', ('three', 3))
    db.execute('insert into test (t1, i1) values (?,?)', ('four', 4))
    db.commit()
    cursor = db.execute('select i1, t1 from test order by i1')
    
    for row in cursor:
        print(dict(row))  #data comes back in tuples
    
if __name__ == "__main__": main()

{'i1': 1, 't1': 'one'}
{'i1': 2, 't1': 'two'}
{'i1': 3, 't1': 'three'}
{'i1': 4, 't1': 'four'}

In [34]:
db = sqlite3.connect('./16 Databases/test.db')
db.row_factory = sqlite3.Row
cursor = db.execute('select i1, t1 from test order by i1')
    
for row in cursor:
    print(row['t1'], row['i1'])  #data comes back in tuples

one 1
two 2
three 3
four 4

<a id='section16b'></a>
### Creating, retrieving, updating and deleting records (CRUD)

In [35]:
import sqlite3

def insert(db, row):
    db.execute('insert into test (t1, i1) values (?, ?)', (row['t1'], row['i1']))
    db.commit()

def retrieve(db, t1):
    cursor = db.execute('select * from test where t1 = ?', (t1,))
    return cursor.fetchone()

def update(db, row):
    db.execute('update test set i1 = ? where t1 = ?', (row['i1'], row['t1']))
    db.commit()

def delete(db, t1):
    db.execute('delete from test where t1 = ?', (t1,))
    db.commit()

def disp_rows(db):
    cursor = db.execute('select * from test order by t1')
    for row in cursor:
        print('  {}: {}'.format(row['t1'], row['i1']))

def main():
    db = sqlite3.connect('test2.db')
    db.row_factory = sqlite3.Row
    print('Create table test')
    db.execute('drop table if exists test')
    db.execute('create table test ( t1 text, i1 int )')

    print('Create rows')
    insert(db, dict(t1 = 'one', i1 = 1))
    insert(db, dict(t1 = 'two', i1 = 2))
    insert(db, dict(t1 = 'three', i1 = 3))
    insert(db, dict(t1 = 'four', i1 = 4))
    disp_rows(db)

    print('Retrieve rows')
    print(dict(retrieve(db, 'one')), dict(retrieve(db, 'two')))

    print('Update rows')
    update(db, dict(t1 = 'one', i1 = 101))
    update(db, dict(t1 = 'three', i1 = 103))
    disp_rows(db)

    print('Delete rows')
    delete(db, 'one')
    delete(db, 'three')
    disp_rows(db)

if __name__ == "__main__": main()

Create table test
Create rows
  four: 4
  one: 1
  three: 3
  two: 2
Retrieve rows
{'i1': 1, 't1': 'one'} {'i1': 2, 't1': 'two'}
Update rows
  four: 4
  one: 101
  three: 103
  two: 2
Delete rows
  four: 4
  two: 2

<a id='section16c'></a>
### Creating a Database Object

In [36]:
class database:
    def __init__(self, **kwargs):
        self.filename = kwargs.get('filename')
        self.table = kwargs.get('table', 'test')
    
    def sql_do(self, sql, *params):
        self._db.execute(sql, params)
        self._db.commit()
    
    def insert(self, row):
        self._db.execute('insert into {} (t1, i1) values (?, ?)'.format(self._table), (row['t1'], row['i1']))
        self._db.commit()
    
    def retrieve(self, key):
        cursor = self._db.execute('select * from {} where t1 = ?'.format(self._table), (key,))
        return dict(cursor.fetchone())
    
    def update(self, row):
        self._db.execute(
            'update {} set i1 = ? where t1 = ?'.format(self._table),
            (row['i1'], row['t1']))
        self._db.commit()
    
    def delete(self, key):
        self._db.execute('delete from {} where t1 = ?'.format(self._table), (key,))
        self._db.commit()

    def disp_rows(self):
        cursor = self._db.execute('select * from {} order by t1'.format(self._table))
        for row in cursor:
            print('  {}: {}'.format(row['t1'], row['i1']))

    def __iter__(self):
        cursor = self._db.execute('select * from {} order by t1'.format(self._table))
        for row in cursor:
            yield dict(row)

    @property
    def filename(self): return self._filename

    @filename.setter
    def filename(self, fn):
        self._filename = fn
        self._db = sqlite3.connect(fn)
        self._db.row_factory = sqlite3.Row

    @filename.deleter
    def filename(self): self.close()

    @property
    def table(self): return self._table
    @table.setter
    def table(self, t): self._table = t
    @table.deleter
    def table(self): self._table = 'test'

    def close(self):
            self._db.close()
            del self._filename

def main():
    db = database(filename = 'test.db', table = 'test')

    print('Create table test')
    db.sql_do('drop table if exists test')
    db.sql_do('create table test ( t1 text, i1 int )')

    print('Create rows')
    db.insert(dict(t1 = 'one', i1 = 1))
    db.insert(dict(t1 = 'two', i1 = 2))
    db.insert(dict(t1 = 'three', i1 = 3))
    db.insert(dict(t1 = 'four', i1 = 4))
    for row in db: print(row)

    print('Retrieve rows')
    print(db.retrieve('one'), db.retrieve('two'))

    print('Update rows')
    db.update(dict(t1 = 'one', i1 = 101))
    db.update(dict(t1 = 'three', i1 = 103))
    for row in db: print(row)

    print('Delete rows')
    db.delete('one')
    db.delete('three')
    for row in db: print(row)

if __name__ == "__main__": main()

Create table test
Create rows
{'i1': 4, 't1': 'four'}
{'i1': 1, 't1': 'one'}
{'i1': 3, 't1': 'three'}
{'i1': 2, 't1': 'two'}
Retrieve rows
{'i1': 1, 't1': 'one'} {'i1': 2, 't1': 'two'}
Update rows
{'i1': 4, 't1': 'four'}
{'i1': 101, 't1': 'one'}
{'i1': 103, 't1': 'three'}
{'i1': 2, 't1': 'two'}
Delete rows
{'i1': 4, 't1': 'four'}
{'i1': 2, 't1': 'two'}

<a id='section17'></a>
# 17. Modules
[Top](#top)

### Using Standard Library Modules 
### Example: sys, os, urllib, random, datetime

In [46]:
import sys

def main():
    print('Python version {}.{}.{}'.format(*sys.version_info))
    print('Platform Name: ', sys.platform)
    
    import os #can import modules selectively inside a function for example
    print('OS Name: ', os.name)
    print(os.getenv('PATH'))
    print('Working Directory: ', os.getcwd())
    print('set of random bytes : ', os.urandom(25))
    


if __name__ == "__main__": main()

Python version 3.5.2
Platform Name:  darwin
OS Name:  posix
/Users/tarekatwan/anaconda/bin:/Users/tarekatwan/.nvm/versions/node/v6.6.0/bin:/Users/tarekatwan/anaconda/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:/usr/local/go/bin:/Applications/Postgres.app/Contents/Versions/latest/bin:/usr/local/go/bin:./node_modules/.bin:/Users/tarekatwan/Library/Android/sdk/platform-tools/:/Users/tarekatwan/Library/Android/sdk/tools
Working Directory:  /Users/tarekatwan/Documents/myPython/LinkedIn/py3
set of random bytes :  b'\xeb\x1d\xc0T=\x04\x08\xb3\x14\xfbg\xe2]\x12iSEiCJg\xd0\xe1\x18\xb5'

In [49]:
import urllib.request
page = urllib.request.urlopen('http://www.datatau.com')

for line in page: print(str(line, encoding = 'utf_8'), end = '')

<html><head><link rel="stylesheet" type="text/css" href="news.css">
<link rel="shortcut icon" href="http://www.iconj.com/ico/d/x/dxo02ap56v.ico">
<script>
function byId(id) {
  return document.getElementById(id);
}

function vote(node) {
  var v = node.id.split(/_/);   // {'up', '123'}
  var item = v[1];

  // adjust score
  var score = byId('score_' + item);
  var newscore = parseInt(score.innerHTML) + (v[0] == 'up' ? 1 : -1);
  score.innerHTML = newscore + (newscore == 1 ? ' point' : ' points');

  // hide arrows
  byId('up_'   + item).style.visibility = 'hidden';
  byId('down_' + item).style.visibility = 'hidden';

  // ping server
  var ping = new Image();
  ping.src = node.href;

  return false; // cancel browser nav
} </script><script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46326769-1', 'datatau.com');
  ga('send', 'pageview');


In [53]:
import random

print(random.randint(1, 1000))

564
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [56]:
x = list(range(25))
print(x)
random.shuffle(x)
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
[23, 4, 15, 8, 5, 24, 7, 9, 10, 19, 22, 21, 1, 17, 0, 6, 3, 12, 18, 11, 14, 16, 13, 2, 20]

In [57]:
import datetime
now = datetime.datetime.now()
print(now)

2017-06-07 18:25:55.802692

In [58]:
print(now.year, now.month, now.day)

2017 6 7

### conditions

In [1]:
i = 2

if i == 2:
    print('it is number two')
elif i % 2 == 0:
    print('it is also an even number')
else:
    print('do not know')

it is number two

In [3]:
i = 2

if i == 2:
    print('it is number two')
if i % 2 == 0:
    print('it is also an even number')
if i != 2:
    print('do not know')

it is number two
it is also an even number